<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PIM_automation_Suite">

	<!--
	 <test name="MarketingTests_OwnerMarketing">
		<parameter name="UseCaseOwner" value="OwnerMarketing" />
		<classes>
			<class name="pim.automation.framework.TC_001_Marketing_Owner_Test" />
			<class name="pim.automation.framework.TC_002_MarketingWorkFlowApproval" />
		</classes>
	</test>
	 -->
	 
	<test name="BSAPIEOwner">
		<parameter name="UseCaseOwner" value="BSAPIEowner" />
		<classes>
			<!--  <class name="pim.automation.framework.TC_003_BSAPIE_Test" />-->
			<!--  <class name="pim.automation.framework.TC_005_BSAPIE_Pending_UseCase_Approval" /> -->
			<class name="pim.automation.framework.TC_006_BSAPIE_User_updating_BSA_PIE_Regions_Override" />
		</classes>
	</test>
	
	 
	<!--  
<test name="DigitalAssetOwner">
		<parameter name="UseCaseOwner" value="DigitalAssetowner" />
		<classes>
			<class name="pim.automation.framework.TC_004_Digital_Asset2" />
			
		</classes>
	</test> -->
	
</suite>